<div style="margin:0 30px;">
  <h2 style="text-align: center;">Вопросы stackoverflow.com</h2>
  <div style="text-align: center">
    Название: <input type="text" [(ngModel)]="titleQuestion">
    <button (click)="search()">Найти</button>
  </div>
  <div style="text-align: center; width:100%">
    <table style="display: inline-block; margin:30px 30px, 30px, 30px; ">
      <tr >
          <th >Название</th>
          <th >Дата создания</th>
          <th >Автор</th>
          <th >Ссылка</th>
      </tr>
      <tr [ngClass]="{'red': question.anyAnswers, 'green': !question.anyAnswers}" *ngFor="let question of questions;">
          <td>{{ question.title }}</td>
          <td>{{ question.creationDate | date:'yyyy-MM-dd' }}</td>
          <td>{{ question.owner }}</td>
          <td>
            <a href="{{question.link}}">Перейти</a>
          </td>
      </tr>
  </table>
  </div>
</div>